.content-body{
	width: 1160px;
	margin: 0 auto;
}
.the-big-second-picture{
	width: 1160px;
	height: 196px;
	background-color: gold;
	color: #fff;
}
.the-big-second-picture{
	background-color: #2787b6;
}
.top-five-recommend, .bottom-five-recommend{
	display: flex;
}
.every-one-recommend{
	width: 19%;
	margin: 5px 0;
	height: 160px;
	padding: 0 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	border: 1px solid #f0d0d0;
	border-radius: 5px;
}
.top-word-recommend{
	width: 33px;
	height: 30px;
	background-color: #ff7e00;
	color: #fff;
	border-radius: 0px 0px 50px 50px;
	margin-left: 3px;
	box-shadow: 0px 3px 3px #bbb;
	padding-top: 5px;
	font-size: 12px;
	margin: 0;
}
.two-bar{
	width: fit-content;
	margin: 10px auto 0;
}
.left-bar, .right-bar{
	background-color: #2787b6;
	padding: 6px 10px;
	margin: 20px 2px;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}
.latest-updates-and-popular-articles{
	border: 1px solid #d4d4d4;
}
.lastest-update{
	border-bottom: 1px solid #d4d4d4;
	color: #5fa406;
	height: 45px;
	line-height: 45px;
	padding: 0 10px;
	position: relative;
}
.title-name:hover{
	cursor: pointer;
	color: #5fa406;
}
.report-element-two{
	display: flex;
}
.download-area{
	width: 1160px;
	margin: 0 auto;
}
.six-images-container{
	display: flex
}
.every-six-image{
	width: 193.3px;
	height: 80px;
	background-color: #ffcccc;
	line-height: 80px;
	text-align: center;
	border: 1px solid #ff6666;
}